[Desktop Entry]
Name=Add More Software
Name[ar]=أضف المزيد من البرمجيات
Name[cs]=Nainstalovat další software
Name[de]=Weitere Software hinzufügen
Name[es]=Agregar más software
Name[fr]=Ajouter des logiciels
Name[he]=הוסף עוד תוכנה
Name[hu]=Több Szoftver Hozzáadása
Name[it]=Aggiungi altro software
Name[ja]=ソフトウェアの追加
Name[ko]=소프트웨어 추가
Name[pt_BR]=Adicionar mais softwares
Name[ru]=Добавить дополнительное программное обеспечение
Name[sk]=Pridať viac Softvéru
Name[sv]=Lägg till fler program
Name[zh_CN]=添加更多软件
Name[zh_HK]=增加更多軟體
Name[zh_TW]=增加更多軟體
GenericName=Add More Software
GenericName[ar]=أضف المزيد من البرمجيات
GenericName[cs]=Nainstalovat další software
GenericName[de]=Weitere Software hinzufügen
GenericName[es]=Agregar más software
GenericName[fr]=Ajouter des logiciels
GenericName[he]=הוסף עוד תוכנה
GenericName[hu]=Több Szoftver Hozzáadása
GenericName[it]=Aggiungi altro software
GenericName[ja]=ソフトウェアの追加
GenericName[ko]=소프트웨어 추가
GenericName[pt_BR]=Adicionar mais softwares
GenericName[ru]=Добавить дополнительное программное обеспечение
GenericName[sk]=Pridať viac Softvéru
GenericName[sv]=Lägg till fler program
GenericName[zh_CN]=添加更多软件
GenericName[zh_HK]=增加更多軟體
GenericName[zh_TW]=增加更多軟體
Comment=Install, update and remove software packages
Comment[ar]=نصّب، طوّر وأزل حزم البرمجيات
Comment[cs]=Instalovat, aktualizovat a odebrat balíčky
Comment[de]=Installieren, Aktualisieren und Entfernen von Softwarepaketen
Comment[es]=Instalar, actualizar y eliminar paquetes de software
Comment[fr]=Installe, met à jour et supprime les packages logiciels.
Comment[he]=התקן, עדכן והסר חבילות תוכנה
Comment[hu]=Szoftvercsomagok telepítése, frissítése és eltávolítása
Comment[it]=Installa, aggiorna e rimuove pacchetti software
Comment[ja]=ソフトウエアパッケージをインストール、更新または削除します
Comment[ko]=소프트웨어 패키지를 설치, 업데이트 및 제거
Comment[pt_BR]=Instalar, atualizar e remover os pacotes de software
Comment[ru]=Установить, обновить или удалить программные пакеты
Comment[sk]=Inštalácia, aktualizácia a odstránenie softvérových balíčkov
Comment[sv]=Installera, uppdatera och ta bort programpaket
Comment[zh_CN]=安装、更新和删除软件包
Comment[zh_HK]=安裝、更新與移除軟體套裝軟體
Comment[zh_TW]=安裝、更新與移除軟體套裝軟體
Exec=/usr/lib/pm-launch /usr/bin/packagemanager
Icon=packagemanager
Terminal=false
MultipleArgs=false
StartupNotify=false
Type=Application
Encoding=UTF-8
NoDisplay=true
Categories=PackageManager;Applications;GTK;System;Settings;
NotShowIn=KDE;
X-KDE-SubstituteUID=true
